fundamental/*.parquet filter=lfs diff=lfs merge=lfs -text
derived/*.parquet filter=lfs diff=lfs merge=lfs -text
pd-data/*.parquet filter=lfs diff=lfs merge=lfs -text
pred-nox-60lb-1fc-pd.parquet filter=lfs diff=lfs merge=lfs -text
pred-wx-60lb-1fc-pd.parquet filter=lfs diff=lfs merge=lfs -text
